<div class="contentDiv">
  <div class="textContent">
    <h3>Fachinformatiker in Anwendungsentwicklung</h3>
    <h1>Webdeveloper Christian Otto</h1>
    <p>
      Willkommen auf meiner Webseite! Ich bin ein ausgebildeter Fachinformatiker
      mit einem starken Hintergrund in Anwendungsentwicklung und mehreren Jahren
      Berufserfahrung. Mein Wissen und meine Leidenschaft für die Entwicklung
      von Webanwendungen haben mich dazu gebracht, innovative Lösungen zu
      schaffen und komplexe Probleme zu lösen. Durch meine Erfahrung in
      verschiedenen Projekten habe ich ein umfassendes Verständnis für die
      Anforderungen an moderne Webentwicklung entwickelt und kann effektive
      Lösungen sowohl für kleine Start-ups als auch für etablierte Unternehmen
      bieten.
    </p>
  </div>

  <div class="imageContent">
    <img src="./assets/images/body.png" alt="Mann am Computer Arbeitsplatz" />
  </div>
</div>
<hr />

<div class="contentDiv2">
  <div class="headline">
    <h2>Sie brauchen ein erfahrenen Webentwickler ?</h2>
  </div>

  <div class="cards">
    <div class="card">
      <h3>Entwicklung mit moderen Frameworks</h3>
      <p>
        Mit meiner Erfahrung kann ich ... Ob Framework oder naturell getreues
        HTML, ich passe mich ihren Wünschen an....
      </p>
    </div>

    <div class="card">
      <h3>Design</h3>
      <p>
        Sie haben Design Vorstellung und brauchen diese Umgesetzt als moderen
        Webseite oder sie brauchen ein modernes Design von einem erfahrenem
        Entwickler...
      </p>
    </div>

    <div class="card">
      <h3>Webhosting</h3>
      <p>
        Von Design bis zur Realisierung und das deployen auf einen Server mit
        Backend Anbindung, ...
      </p>
    </div>
  </div>
</div>

<hr />

<div class="contentDiv2">
  <div>
    <h2>Kontaktieren sie mich</h2>

    <div>
      kontakt Formular :

      <input type="text" />
    </div>
  </div>
</div>
