<div class="settingsOverlay" *ngIf="isOverlayOpen">
  <button class="closeButton" type="button" (click)="closeOverlay()">
    <svg
      width="30px"
      height="30px"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"
        fill="#0F1729"
      />
    </svg>
  </button>
  <div class="settingsOverlayContent">
    <h2 class="overlayHeadline">Settings</h2>
    <div id="selectTimerOptions">
      <ng-container *ngFor="let timer of timerArray">
        <div
          [attr.id]="timer.id"
          [attr.selected]="timer.selected"
          (click)="handleTimerSelection($event)"
        >
          <span>{{ timer.ms | date : "mm:ss" }}</span>
        </div>
      </ng-container>
    </div>

    <div class="addTimerDiv">
      <legend>Add Timer in Minutes and Secounds</legend>
      <form [formGroup]="newTimer" (ngSubmit)="onSubmit()">
        <input
          ngDefaultControl
          placeholder="00"
          class="minSecInput"
          type="number"
          maxlength="10"
          min="00"
          max="59"
          formControlName="newMinutes"
        />:
        <input
          ngDefaultControl
          placeholder="00"
          class="minSecInput"
          type="number"
          maxlength="10"
          min="00"
          max="99"
          formControlName="newSeconds"
        />

        <button class="addButton" type="submit">
          Add Timer
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 12H20M12 4V20"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        <div>
          <span
            class="errorSpan"
            *ngIf="newTimer.get('newMinutes')?.touched &&  newTimer.get('newMinutes')?.errors?.['required']"
            >Minutes is required.</span
          >
          <span
            class="errorSpan"
            *ngIf="newTimer.get('newMinutes')?.touched && newTimer.get('newMinutes')?.errors?.['pattern']"
            >Minutes should be between 0 and 59.</span
          >
          <span
            class="errorSpan"
            *ngIf="newTimer.get('newSeconds')?.touched &&  newTimer.get('newSeconds')?.errors?.['required']"
            >Seconds is required.</span
          >
          <span
            class="errorSpan"
            *ngIf="newTimer.get('newSeconds')?.touched && newTimer.get('newSeconds')?.errors?.['pattern']"
            >Seconds should be between 0 and 59.</span
          >
        </div>
      </form>
    </div>
  </div>
</div>
